#div1 {
    color: aqua;
    font-size: 21px;
    background-color: blueviolet;
    border: firebrick solid 4px;
}

#div2 {
    color: green;
    font-size: 45px;
    background-color: yellow;
    border: solid purple 7px;


}

