/*1)შექმენით 3 პარაგრაფი 

პირველ პარაგრაფს მიანიჭეთ ტექსტის სისქე --> bolder

მეორე პარაგრაფს მიანჭეთ ტექსტის სისქე - 300

მესამე პარაგრაფს მიანიჭეთ ტექსტისს სისქე ისე რომ მეორე პარაგრაფზე სქელი იყოს*/



#p0 {
    font-weight: bolder;
}

.p5 {
    font-weight: 300;
}

#p6 {
    font-weight: 700;
}



