* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1 {
    width: 200px; 
    height: 200px;
    background-color: blueviolet;
    border: 1px solid yellow;
    transform: scale(1.5);
    
}