* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.div1 {
    width: 100px; 
    height: 100px;
    background-color: hotpink;
    border: 2px solid navy;
    transform: rotateY(55deg);
}