* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1 {
    width: 150px;
    height: 150px;
    background-color: red;
    transform: translateY(80px);
}