* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 200px;
    height: 220px;
    background-color: cadetblue;
    color: white;
    border-radius: 7px;
    transition: 0.3s;


}

.card:hover {
    transform: translateY(-20px);

}