/* font-weight კუთვნილება გამოიყენება ტექსტის სისქის შესაცვლელად.

   font-weight-ის დანიშნულება:
   ტექსტის უფრო სქელად ან თხლად გამოჩენა დიზაინის მიხედვით.

   არსებობს: normal  bold    bolder  lighter  

   ასევე შეგვიძლია გადავცეთ რიცხვითი მნიშვნელობები:
   100, 200, 300, 400, 500, 600, 700, 800, 900

 

p{
    font-weight: normal;
}

h1{
    font-weight: bold;
}

h2{
    font-weight: 500;
}

h3{
    font-weight: 900;
}