
.d1{
    color: rgb(0, 0, 255);
    font-size: 18px;
    text-align: center;
    background-color: rgb(240, 240, 240);
   
}

div {
    text-align: center;
}

h2 {
    color: rgb(255, 0, 255);
    font-size: 24px;
    
}

ol {
    color: rgb(128, 0, 0);
    font-size: 16px;
}

ul {
    color: rgb(0, 128, 128);
    font-size: 17px;
}

.b1 {
    background-color: rgb(255, 255, 200);
    border: 3px solid rgb(255, 0, 0);
   
}


#s1 {
    background-color: rgb(200, 200, 255);
    border: 4px solid rgb(0, 0, 255);
}

#c1 {
    background-color: rgb(255, 220, 180);
    border: 4px solid rgb(0, 150, 0);
}
