.parent {
    display: flex;
    width: 400px;
    justify-content: start;
    gap: 13px;
    border: 2px solid navy;
    flex-wrap: wrap;


}


#first, #second, #third {
    flex-basis: 300px;
    background-color: brown;
    flex-shrink: 0;
    

}