.parent {
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid blueviolet;
    gap: 15px;


}

.child {
    background-color: aqua;
 
}

#second {
    flex-grow: 2;
}