.parent {
    display: flex;
    flex-direction: row;
    border: 2px darkblue solid;
    flex-wrap: wrap;
    width: 350px;
    gap: 15px;

}

.child {
    background-color: red;
}

#first {
    flex-basis: 100px;
    
}

#second {
    flex-basis: 200px;
    
}

#third {
    flex-basis: 300px;
    

}

#fourth {
    flex-basis: 150px;
    
}
