.parent{
    width: 400px;
    display: flex;
    gap: 10px;
    border: 2px solid yellowgreen;
    justify-content: center;
    flex-direction: row;



}

#first, #second, #third {
    flex-basis:200px ;
    background-color: blueviolet;
}

#second {
    flex-shrink: 0;
}




