.parent {
    display: flex;
    width: 400px;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid hotpink;
    gap: 15px;


}

#first, #second, #third {
    flex-basis: 150px;
    background-color: chartreuse;

}

#first {
    flex-shrink: 1;
}

#second {
    flex-shrink: 2;

}

#third {
    flex-shrink: 3;

}
