body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent {
    width: 700px;
    height: 700px;
    border: 2px solid palegreen;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.child {
    width: 100px;
    height: 100px;
    background-color: red;
}

#first {
    flex-grow: 1;
}

#third {
    flex-basis: 200px;
}

#fifth {
    flex-shrink: 5;
}