.circle {
    background: red;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    width: 150px;
    height: 150px;
    animation-name: circle;
    border-radius: 50%;


}

@keyframes circle{
    from {
        background: red;


    }
    to {
        background: blue;


    }
}