h1 {
    opacity: 0;
    color: black;
    animation-name: text;
    animation-delay: 2s;
    animation-fill-mode: forwards;

}

@keyframes text {
    from {
        opacity: 0;


    }
    to {
        opacity: 1;

    }
}