body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



button {
    width: 110px;
    height: 70px;
    background: purple;
    animation-iteration-count: infinite;
    transform: scale(1);
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-name:lev;
    

}

@keyframes lev {
    from {
        transform: scale(1);
        
    }
    to {
        transform: scale(1.5);

    }

}