.div1 {
    width: 100px;
    height: 89px;
    background: yellowgreen;
    animation-name: move;
    animation-delay: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 5;
    transform: translateX(0);
    animation-duration: 4s;



}

@keyframes move {
    from {
        transform: translateX(0);



    }
    to {
        transform: translateX(500px);

    }
}