* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    
    
}

body {
    height: 200vh;
}


