#div1 {
    width: 150px;
    height: 150px;
    background-color: green;
    animation:square 5s ease-in infinite alternate;

}

@keyframes square {
    0% {
        transform: translate(0px, 0px);


    }
    25% {
        border-radius: 10px;
        background-color: yellow;
        transform: scale(1.2) rotate(20deg);


    }
    50% {
        border-radius: 20px;
        background-color: red;
        transform: scale(1.5) rotate(50deg) translate(0px, 100px);


    }

    75% {
        border-radius: 50px;
        background-color: blue;
        transform: scale(2) rotate(140deg) translate(0px, 200px);


    }
    100% {
        border-radius: 50px;
        background-color: orange;
        transform: scale(-1.5) rotate(180deg) translate(0px, 400px);
        box-shadow: orange;

    }
}