
h1 {
    text-align: center;
    color: black;
}

input{
    outline: none;
    color: gray;
    border: gray 1px solid;
    border-radius: 1px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    




}